* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: white;
  background-color: #0a0a0a;
}

.hero {
  height: 100vh;
}

.announcement {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.announcement-link {
  border: 0.5px solid rgba(138, 138, 138, 0.418);
  background-color: rgba(207, 117, 217, 0.079);
  border-radius: 2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1.2rem;
  margin: 0.5rem;
  text-decoration: none;
}

.announcement-link:hover {
  background-color: rgba(251, 251, 251, 0.308);
  box-shadow: 20px 0 100px #24f6e8, -20px 0 100px rgb(38, 254, 110);
}

.announcement-text {
  color: antiquewhite;
  font-size: 1.2rem;
  font-weight: 600;

}

.announcement-button {
  text-decoration: none;
  color: antiquewhite;
  font-weight: 600;
  background-color: rgba(228, 192, 232, 0.142);
  border-radius: 2rem;
  display: flex;
  margin: 0 0.5rem;
  padding: 1rem 1.6rem;
}

.hero-content {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 6rem;
  font-weight: 600;
  text-align: center;
  padding: 0 15rem;
  margin-top: 2rem;
  color: antiquewhite;
  line-height: 1.4;
}

.hero-description {
  color: rgba(250, 235, 215, 0.834);
  font-size: 1.45rem;
  margin-top: 4rem;
  padding: 0 610px;
  text-align: center;
}

.cta-button {
  background-image: linear-gradient(150deg, rgb(24, 53, 237), rgb(200, 94, 246));
  text-decoration: none;
  color: antiquewhite;
  margin-top: 30px;
  margin-right: 30px;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
}

.cta-button:hover {
  box-shadow: 30px 0 100px #008cff, -30px 0 100px rgb(244, 30, 244);
}

@media (max-width: 640px) {
  .hero {
    padding: 1rem;
  }

  .announcement-link {
    font-size: 0.75rem;
  }

  .hero-content {
    padding: 0 1rem;
  }
}